---
import '../styles/global.css'
import Header from '../components/Header.astro'
import RecipesSidebar from '../components/RecipesSidebar.astro'

const { currentPage } = Astro.props;

const { currentRecipe, showSideBar } = Astro.props;

import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{`ChefCost Pro - ${currentPage === 'recipes' ? 'Recetario' : currentPage === 'ingredients' ? 'Inventario' : ''}`}</title>
    <ClientRouter />
	</head>
	<body class="bg-slate-100">
    <div class="max-w-full mx-auto md:px-16 lg:px-24 md:py-8 lg:py-12">
      <Header currentPage={currentPage}/>
      <div class="grid grid-cols-12 gap-8 items-start">
        {
          showSideBar && <RecipesSidebar currentRecipe={currentRecipe} transition:animate="none" />
        }
        <main class={!showSideBar ? 'lg:col-span-12' : 'lg:col-span-9'}>
          <slot />
        </main>
      </div>
    </div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
    padding: 0; 
		width: 100%;
		height: 100%;
	}
</style>
